*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    font-family: 'Open Sans', sans-serif; 

}
.container{
    height: 100vh;
    width: 100vw;
    background-color: #FFE776;
}

.caixa{
    background-color: #FFFFFF;
    position: absolute;
    height: 85%;
    width: 60%;
    top: 10%;
    left: 20%;
    border-radius:22px;
    box-shadow: 0 0 1em #b9b9b9;
   
}

.caixa2{
    text-align: center;
    margin-top: 210px;
   
}

h1{
    font-size: 40px;
    color: #493898;
    font-family: 'Comfortaa', cursive;
}

p{
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 900px) {

    .caixa{
    
        background-color: #FFFFFF; 
        position: absolute;
        margin-top:71px;
        height: 92vh;
        width: 100vw;
        border-radius: 50px;
        box-shadow: 0 0 1em #b9b9b9;
        top: 0;
        left: 0;
    }

    .caixa2{
        margin-top: 290px;
    }

    p{
        font-size: 20px;
    }
}
